* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  grid-template-areas: auto;
  grid-template-rows: repeat(12, 1fr);
  font-family: Roboto, "Helvetica New", Verdana, sans-serif;
  font-size: 16px;
}

header {
  display: block;
  flex-direction: center;
  background-image: url("/images/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/images/hero.jpg);
}

.header__navbar {
  line-height: 60px;
  color: white;
  text-shadow: 2px 2px #5e7c8f;
  position: fixed;
  right: 10px;
}

.header__navbar_right {
  display: flex;
  list-style-type: none;
  width: 100%;
}

.header__list_item {
  padding-right: 40px;
  text-decoration: none;
  color: white;
}

.header__list_item:active {
  color: grey;
}

.header__section-input {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  font-size: 150%;
  color: #66cccc;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.header__section-input p {
  font-family: "Radley", serif;
  color: white;
  font-size: 150%;
  letter-spacing: 1px;
  font-style: italic;
  margin-bottom: 1px;
  word-spacing: 1px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f8;
  margin: 0 5px;
}

.article__about_me {
  display: flex;
  background-color: #f3f5f8;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding: 100px;
}

p {
  color: #8c9398;
  padding: 20px;
}

.article__heading {
  margin-bottom: 50px;
  color: #353535;
}

.article__cv_button_container {
  margin: 50px;
}

.article__cv_button {
  text-decoration: none;
  color: #8c9398;
  border: solid 1px #8c9398;
  padding: 10px 20px;
}

.article__skill_container {
  display: grid;
  background-color: white;
  margin-bottom: 10px;
  grid-template-rows: auto auto;
  padding: 10px;
  text-align: center;
}

.article__skill_container h3 {
  margin: 30px;
  color: #353535;
}

.article__skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.section__quote {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  background: url(../images/quotepic.svg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
}

.section__quote_text {
  font-family: "Radley", serif;
  letter-spacing: 1px;
  word-spacing: 1px;
  color: white;
  text-shadow: 2px 2px #8c9398;
  font-style: italic;
  font-size: 18px;
}

.section__get_in_touch {
  display: grid;
  grid-template-rows: auto auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  margin-bottom: 20px;
  grid-gap: 20px;
}

.section__get_in_touch_h3 {
  color: #353535;
}

.section__get_in_touch_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  transition: all 0.7s ease;
}

.section__get_in_touch_color {
  color: white;
}

.section__get_in_touch_color:hover {
  transform: translatez(-450px);
  color: #8c9398;
}

.section__get_in_touch_city {
  grid: flex;
  background-color: #66cccc;
  box-shadow: 12px 12px 15px -15px;
}

.section__get_in_touch_city:hover {
  transform: translatez(-450px);
  background: #f3f5f8;
}

.section__get_in_touch_phone {
  grid: flex;
  background-color: #66cccc;
  box-shadow: 12px 12px 15px -15px;
}

.section__get_in_touch_phone:hover {
  transform: translatez(-450px);
  background: #f3f5f8;
}

.section__get_in_touch_email {
  grid: flex;
  background-color: #66cccc;
  box-shadow: 12px 12px 15px -15px;
}

.section__get_in_touch_email:hover {
  transform: translatez(-450px);
  background: #f3f5f8;
}

.section_get_in_touch_logos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

footer {
  display: flex;
  background-color: #242830;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  height: 100px;
}

.footer__copyright {
  color: white;
}
